/* artist specific css */
body {
	font-family: Century Gothic, Verdana, helvetica, arial, sans-serif;
	font-size:small;
	background-color:rgb(255,255,255);
	color:rgb(51,51,51);
}
#page { padding-bottom:2em; }


a:link { color:#090; }
a:visited { color:#090; }
a:hover { color:rgb(0,0,0); }

.container { border:1px solid rgb(204,204,204); margin:0 auto; background-color:rgb(225,225,225); color:rgb(51,51,51); }

div.hometext { padding-top:1em; line-height:150%;}

#content { padding-bottom:2em; }
/* customised menus */
nav { 
	border-top:none;
	border-bottom:1px solid rgb(153,153,153);
	border-top:1px solid rgb(153,153,153);
	padding-top:0.6em;
	/*padding-bottom:0.1em;*/
	background-color:rgb(204,204,204);
	text-align:center;
}
nav ul { margin:0 auto; }
nav li a { 
	color:rgb(51,51,51);
	padding: 0.6em 0.5em;
	background-color:rgb(204,204,204);
	font-size:1.2em;
}
nav a:link, nav a:visited { color:rgb(0,0,0); }
nav a:hover { color:rgb(0,0,0); background-color:rgb(225,225,225); }

.top { border-bottom:1px rgb(153,153,153) solid; padding-top:5em; }
header { margin-right:0px; text-align:center; background-color:rgb(204,204,204);}

/* header */
h1, h2, h3, h4 { color:rgb(0,0,0); }
strong { color:rgb(0,0,0); }
h1 { line-height:normal; margin-bottom:0; padding:0.4em 0;}
h1 a:link, h1 a:visited, h1 a:hover { color:rgb(0,0,0); }

h1 { font-size:2em; }

/* selected categories etc */
nav a.selected, nav a.selected:link { color:rgb(0,0,0);background-color:rgb(225,225,225); }
nav a.selected:visited { color:rgb(0,0,0); background-color:rgb(225,225,225);}

/* footer */
footer { background-color:rgb(204,204,204); border-top:1px solid rgb(153,153,153); border-bottom:1px solid rgb(153,153,153); }

.gallery { background-color:rgb(225,225,225); }

.home { min-height:800px; text-align:center; }

legend { color: rgb(0,0,0); }

#playercontainer { text-align:center; }

.span-10 .thumbnail { width:110px; margin:0 5px 5px;}

img.homeleft { float:left; }