/* Alun Ward, 2010 for Eye Gallery */
/* alun@eyedivision.co.uk */

/* blueprint corrections */
.error, .notice, .success {
    margin-bottom: 0;
    padding: 0.2em;
}
img {
	font-size:small;
}
body {
	font-family: Georgia, Times, verdana, helvetica, arial, sans-serif;
	font-size:1em;
	line-height:2em;
	color:#333;
	background-color:#E8E8E8;
}

#hpBlock {
	text-align:center;
	padding: 20px 10px;
	margin:0px auto;
}
/* override alternative row background colouring */
tbody tr:nth-child(even) td, tbody tr.even td {background:transparent;}
/*.container { margin-top:0.5em; margin-bottom:2em; background-color:#fff; border:1px solid #ccc; padding-top:1em; -moz-border-radius: 1em;-webkit-border-radius: 1em; border-radius: 1em; -webkit-box-shadow:3px 3px 6px #666; -moz-box-shadow:3px 3px 6px #666; box-shadow: 3px 3px 6px #666; }*/

#hpcontainer {	
	line-height:130%;
	text-align:center;
	margin: 5px auto 10px auto;
	padding:5px;
	width:950px;
	background-color:#FFF;
	border: 1px solid #CCC;
}
#left {
	float:left;
	width:18%;
}
#content {	
	line-height:130%;
	text-align:left;
}
a {  border:none;}
a:link { color:#999; text-decoration: none; }
a:visited { color:#999;  text-decoration: none;  }
a:hover { color:#FC0;  text-decoration: none; }

/* html5 styles */
header, aside, nav, footer {
    display: block;
}

header {

}

#mission { font-size: large; color:#99CC00; padding-top:5.5em; }

#main P {
 	margin-top:0px;
}
#main {

	background-color:#FFF;
}
#hpmain {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color:#FFF;
}
#main H1, #main H2 { 
	padding-top:0px; 
	margin-top:0px;
} 

/* top nav */
nav { 
	color: #666;
	background-color:#E8E8E8;
	border-bottom:1px #000 solid;
	border-top:1px #000 solid;
}

nav ul { padding-left:0; margin:0 auto; display:inline-block;}
nav ul li { list-style:none; float:left;  }
nav li a { 
	padding: 0.9em 0.6em;
	margin:0 1px; 
	border: none; 
	color:#000;
	background-color:#E8E8E8;
	text-decoration:none;  
}

nav a:link, nav a:visited { color:#000;  }
nav a:hover { color:#000; background-color:#CCC;}

/* selected categories etc */
nav a.selected, nav a.selected:link { color:#000; background-color:#CCC; }
nav a.selected:visited { color:#000; }

/* subnav */
#subnav { border-bottom:1px #ccc solid;  }
#subnav ul { margin:0 auto; display:inline-block; }
#subnav ul li { float:left; list-style:none; }

#subnav li a { padding: 0.9em 0.6em; margin:0 1px; border:none; text-decoration:none; color:#666;}
#subnav a:hover { color:#000; background-color:#E8E8E8;}

#main a.selected{ color:#000; }
#main a.selected:link { color:#000; }
#main a.selected:visited { color:#000; }
#main a.selected:hover { color:#000; }
#main a.selected:active { color:#000; }

#left {
	width: 200px;
	float: left;
	padding-top:70px;
}
#right {
	margin-left: 210px;
	text-align:center;
	color:#333;
}

b, strong { font-weight: 900; }

li, ul, ol {  
	font-style: normal; 
	font-weight: normal; 
}

.small { font-size: 10px; }

#player1 {
	margin:10px auto;
	text-align:center;
}
h1 {
	padding-left:0.9em;
}
h1 a:link, h1 a:hover { color:#000; }

/* header image replacement */
/*h1 a { width:624px; height: 162px; display:block; text-indent:-9999px; background:url('/images/logo.png') no-repeat; }
*/
h2, h3, h4 { color:#99CC00; }
footer {
	clear:both;
	font-size:x-small;
	text-align: center;
	padding-top:25px;
}
footer a img, #credits a:link {
	border:none;
}

#page {

}


/* image layout */

#images {
	text-align:center;
	margin: 5px auto;
	width:100%;
}
#images img, #randomImages img {
	border:none;
}


#images a:link, #images a:hover, #images a:visited, #header a:link, #header a:hover, #header a:visited, #footer a:link, #footer a:hover {
	border-bottom:none;
	text-decoration:none;
}

.thumbs {
	float:left;
	margin:10px;
}
.thumb {

}
.thumb IMG {
	padding:10px;
	border:none;
}
/* image table technique -- see http://www.brunildo.org/test/ImgThumbIBL2.html */
/* gallery container */

.gallery {
	text-align: center;    /* centers inline paragraphs */
	margin: 1em 5%;
	padding: .5em;
}
.gallery a {
	text-decoration: none;
}
.gallery a img {
	border-width: 1px;
	vertical-align: middle;
}

/* outer container for each image/caption pair */
.gallery p {
	display: inline;
}

/* inner container for each image/caption pair */
.gallery a {
	display: table-cell;   /* default, for gecko & Opera6- */
	margin: .5em;
	padding: 5px;
	vertical-align: top;   /* aligns the img/caption container */
	width: 8em;            /* adjusts with text size */
	min-width: 170px;      /* not always honored, but that's OK */
/*	border: 1px solid #ccc; */
}

/* image container, sets height so image can be vertically centered and the caption starts in the same vertical position regardless of image height, except WinIE does not apply line-height to images. oh well, most other browsers do... */
.gallery span {
	display: block;        /* fill container width, force a line break */
	height: 130px;         /* a bit larger than highest img */
	line-height: 150px;    /* same value as height */
	text-align: center;
/*	border: 1px dashed #f00; /* uncomment to show */
}
/* caption container, sets height (for 2 lines) so each outlined image/caption pair is the same height (except in WinIE) */
.gallery em {
	display: block;
	height: 3em;         /* makes each box a consistent height */
	padding: 15px 5px 0 5px;
	text-align: center;
	font-style: normal;
	line-height: 120%;     /* standard spacing */
/*	border: 1px dashed #00f; /* uncomment to show */
}

/* Owen hack, hides from WinIE, Opera versions 6- & some KHTML */
head:first-child+body #container #content .gallery a {
	display: table-cell;   /* gecko & Opera6- */
	display: inline-table; /* Safari & some other browsers */
	display: inline-block; /* WinIE & some other browsers */
}

/* star-html hack to show <a> rule(s) just to IE (Win and Mac) -- but NOT in IE 7 doh! */
* html #container #content .gallery a {
	display: table-cell;   /* gecko & Opera6- */
	display: inline-table; /* Safari & some other browsers */
	display: inline-block; /* WinIE & some other browsers */
}
/* image is not clickable in WinIE with display:block :( \*/
* html #container #content .gallery span {
	display: inline;
}
.gallery a:hover em {
	cursor: hand; /* otherwise cursor doesn't change over block <i> */
} /* end WinIE hacks */

/* end hacks */
/* end image table technique */

#images .pagination {
	clear:both;
	margin:5px;
	color:#999;
}

#images .pagination a, #images .pagination a:link. {
	color:#999;
}
.grey {
	color:#666;
}
/* image tables */
table.images {
	margin:5px auto;
	width:100%;
	vertical-align:top;
}
td {
	text-align:center;
	vertical-align:top;
}
tr {
	vertical-align:top;
}

/* revised thumbnails for JS 2010 */
.thumbnail { float:left; margin:5px; cursor: pointer;}
.thumbnail IMG { padding:5px; border:none; }
/* #thumbs { float:left; width:40%; padding:2em 0; margin-left:6em; } */
/* #large {  padding:2.6em; margin-left:50%; } */
#large img { max-width:400px; }
#bigPic {
	margin:0.5em auto;
	text-align:center;
}
#bigPic IMG {
	/*border:1px solid black;*/
}
.bigImage IMG { margin:1em; padding:1em; }

#largeText { padding-top:1em; }
.clear {
	clear:both;
}
/* end new thumbnail layout */

.pagination { text-align:center; clear:both; }

/* form stuff - see http://www.websiteoptimization.com/speed/tweak/forms/ */

form { 
	/*font-size : 1em; */

	padding-top: 25px;
}

select {
	/*width: 200px;*/
	text-align: left;	
}

fieldset { 
	padding : 10px;
	margin: 0px;
	border-color:#999;
	border-style: solid;
	border-width: 1px;
} 
legend { color:#999; }

form br {
	clear: left;
}

label { 	
	display: block; 
	width: 24em;
	padding: 0;
	margin: 5px 0 0px; 
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
	border:#999 1px solid;
}
input:focus {
	background: #FFF;
}
textarea:focus {
	background: #FFF;
}
/* end form stuff */
