---
layout: page
carousel:
  - image: /uploads/call-me-the-breeze-1.JPG
    caption:
    link:
  - image: /uploads/candle-in-the-wind.JPG
    caption:
    link:
  - image: /uploads/all-of-me.JPG
    caption:
    link:
  - image: /uploads/stand-by-me-2.JPG
    caption:
    link:
  - image: /uploads/angel-wings-2.JPG
    caption:
    link:
  - image: /uploads/pearls-a-singer.jpg
    caption:
    link:
  - image: /uploads/feelin-good-1.JPG
    caption:
    link:
  - image: /uploads/harvest-moon-1.JPG
    caption:
    link:
  - image: /uploads/domino-1.jpg
    caption:
    link:
  - image: /uploads/pennies-from-heaven.JPG
    caption:
    link:
  - image: /uploads/purple-heather.jpg
    caption:
    link:
  - image: /uploads/summertime-1.JPG
    caption:
    link:
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

<div class="editable half">
      <p>&nbsp;</p>
      <h1>Introduction</h1>
      <p>Tony is an invigorating artist based in Gloucestershire. His work celebrates the pleasure of movement and colour through an original and vibrant style. He creates work which is ambitious, unrestrained, determined and exciting.</p>
      <p>Works on the carousel opposite are detailed in Paintings-Life and Drawings-Life .</p>
      <h3>Recent exhibitions</h3>
      <p>Tony's figurative paintings were exhibited at PARAGON Gallery, Montpellier, Cheltenham as guest artist in the gallery's "Cotswold Artists" exhibition in May 2017. The works were very well received, in particular the sale of the largest painting "Maybe" which filled the window.</p>
      <p>Tony's figurative paintings were exhibited&nbsp; in the Affordable Art Fair&nbsp; in Battersea Park, London in &nbsp;October 2017.&nbsp;</p>
      <h1>&nbsp;</h1>
      <h5>&nbsp; &nbsp;</h5>
      <h2>&nbsp;</h2>
    </div>

{% if page.carousel %}
<!-- <div class="two-thirds no-gutter"> -->

  <section class="carousel half last">
    <div class="flexslider">
      <ul class="slides">
        {% for slides in page.carousel %}
        <li>
          {% if slides.link %}
          <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
          {% endif %}
          {% include img.html src=slides.image width=960 alt=slides.caption %}
          {% if slides.link %}
          </a>
        {% endif %}
          {% if slides.caption %}
          <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

  </section>
  <!-- </div> -->
  {% endif %}


  {% if site.gallerydisplay %}
  <section class="gallery">
  {% for gallery in site.gallery %}

       <div class="gallery-box gallery-box-home {% cycle '', ' last' %}">
          <a href="{{ gallery.url }}">

            {% if gallery.main_image_path %}
              {% include img.html src=gallery.main_image_path width=400 height=300 %}
            {% else %}
              {% include img.html src="/siteicon.png" width=400 height=300 %}
            {% endif %}

            <h3>{{ gallery.title }}</h3>
          </a>

       </div>

  {% endfor %}
  </section>
{% endif %}
