---
layout: page
carousel:
  - image: /assets/images/4ec646ab81ea4.jpg
    caption:
    link:
  - image: /assets/images/4ec65030ec521.jpg
    caption:
    link:
  - image: /assets/images/4e946746afddd.jpg
    caption:
    link:
  - image: /assets/images/4e9466988b660.jpg
    caption:
    link:
  - image: /assets/images/4e946754eba1c.jpg
    caption:
    link:
  - image: /assets/images/4ec64e6aa50a3.jpg
    caption:
    link:
  - image: /assets/images/4e9467b654b06.jpg
    caption:
    link:
  - image: /assets/images/4ec64f1dc9b75.jpg
    caption:
    link:
  - image: /assets/images/4ec644e2c0787.jpg
    caption:
    link:
  - image: /assets/images/4ec64f47c3813.jpg
    caption:
    link:
  - image: /assets/images/4ec6457c7c161.jpg
    caption:
    link:
  - image: /assets/images/4ec64f71b5998.jpg
    caption:
    link:
  - image: /assets/images/4ec646ab81ea4.jpg
    caption:
    link:
  - image: /assets/images/4ec65030ec521.jpg
    caption:
    link:
  - image: /assets/images/4e946746afddd.jpg
    caption:
    link:
  - image: /assets/images/4e9466988b660.jpg
    caption:
    link:

_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:
  carousel: Edit the slideshow
  link: Optional web link from the slide
  caption: optional caption
---

{% if page.carousel %}
<!-- <div class="two-thirds no-gutter"> -->

  <section class="carousel">
    <div class="flexslider">
      <ul class="slides">
        {% for slides in page.carousel %}
        <li>
          {% if slides.link %}
          <a href="{{ site.baseurl }}{{ slides.link }}" title="View project">
          {% endif %}
          {% include img.html src=slides.image width=960 alt=slides.caption %}
          {% if slides.link %}
          </a>
        {% endif %}
          {% if slides.caption %}
          <p class="flex-caption">{% if slides.link %}<a href="{{ site.baseurl }}{{ slides.link }}" title="View project">{% endif %}{{ slides.caption }}{% if slides.link %}&nbsp;<svg class="icon icon__white icon--readmore"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-double_angle_right" /></svg></a>{% endif %}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

  </section>
  <!-- </div> -->
  {% endif %}

<div class="editable">
  <p>Tony is an invigorating artist based in Gloucestershire. His work celebrates the pleasure of movement and colour through an original and vibrant style. He creates work which is ambitious, unrestrained, determined and exciting.</p>
  <h3>Recent exhibition</h3>
  <p>Tony's figurative paintings were exhibited at PARAGON Gallery, Montpellier, Cheltenham as guest artist in the gallery's "Cotswold Artists" exhibition from Friday 21 April to Saturday 6 May 2017. The works were very well received, in particular the sale of the largest painting "Maybe" which filled the window.</p>
  <h3>Forthcoming exhibition</h3>
  <p><strong>Tony's figurative paintings and drawings will be exhibited&nbsp; in the Affordable Art Fair&nbsp; in Battersea Park, London in the Paragon Gallery's stand number I5 (letter I number 5) from Thursday 19 to Sunday 22 October 2017.</strong></p>
  <p><a href="http://www.paragongallery.co.uk" target="new">Paragon Gallery</a></p>
  <p>Email: <a href="mailto:findtonyheath@btinternet.com">findtonyheath@btinternet.com</a><br>
  Mobile: 07803614303</p>
</div>



  {% if site.gallerydisplay %}
  <section class="gallery">
  {% for gallery in site.gallery %}

       <div class="gallery-box gallery-box-home {% cycle '', ' last' %}">
          <a href="{{ gallery.url }}">

            {% if gallery.main_image_path %}
              {% include img.html src=gallery.main_image_path width=400 height=300 %}
            {% else %}
              {% include img.html src="/siteicon.png" width=400 height=300 %}
            {% endif %}

            <h3>{{ gallery.title }}</h3>
          </a>

       </div>

  {% endfor %}
  </section>
{% endif %}
