// Gallery layout
// this is imported last from /css/main.scss

.gallery {

    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    @include media ($tablet) {
        @include outer-container;
    }

    a {
        img {
            opacity: 1;
            transition: all 0.2s ease-in-out;
            &:hover,
            &:active,
            &:focus {
                opacity: 0.8;
                transition: all 0.2s ease-in-out
            }
        }
        h3 {
            color: $base-font-color;
        }

        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            color: darken($action-color, 20%);
            h3 {
                //color: $camouflage;
            }
        }
    }

}
.gallery-box,
.gallery-box-large {
    padding-bottom: 1em;
    text-align: center;
    @include media ($tablet) {
        @include span-columns(4);
    }
}
.gallery-box-home {
    @include media ($tablet) {
        @include span-columns(6);
    }
}
.alpha {
    @include media ($tablet) {
        clear: both;
    }
}
.last {
    @include media ($tablet) {
        @include omega();
    }
}

/// Lightbox2
.lightbox .lb-image {
    border: 0;
}

.lb-dataContainer {
    background: $white;
    padding: 1em;
    width: 90%;
}


/// defaults
.lb-data {
  //padding: 0 4px;
  color: $dark-gray;
}


